<h3>スケジュール編集</h3>

<%= render "shared/error", obj: @task %>

<%= form_with model: @task do |f| %>
  <table class="form-table">
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title, class: "form1" %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date ,"開始日" %></th>
      <td><%= f.date_field :start_date, class: "form1" %></td>
    </tr>
    <tr>
      <th><%= f.label :finish_date ,"終了日" %></th>
      <td><%= f.date_field :finish_date, class: "form1" %></td>
    </tr>
    <tr>
      <th><%= f.label :allday ,"終日" %></th>
      <td><%= f.check_box :allday, {}, "true", "false" %><div class="attend">終日の場合はチェックを入れてください</div></td>
    </tr>
    <tr>
      <th><%= f.label :description ,"詳細" %><div class="attend">208字以内</div></th>
      <td><%= f.text_area :description %></td>
    </tr>
  </table>

  <div class="guide">
    <div><%= f.submit "スケジュールの編集を完了する", class: "submit-btn" %></div>
    <div><%= link_to "スケジュール一覧に戻る", :tasks, class: "btn" %></div>
  </div>
<% end %>
